<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
  <title>TestIME</title>
  <script type="text/javascript">
        window.platformString = "<%= @platform_string %>";
        var onLoadDom = function(){
          window.initializeApp();
        };
  </script>
  <link rel="stylesheet" href="assets/keyboard.css">
</head>
<body onload="onLoadDom();">
<div id="log" style="visibility:visible;display:block;position:fixed;z-index:10000;float:right;top:0;right:0;max-width:75%;max-height:100%;background-color:rgba(0,0,0,0.7);color:#00a300;font-size:16px;overflow:hidden;"></div>
  <input  id="testInput" cols=25 rows=5>
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/API/Widget.js"></script>
  <!--<script type="text/javascript" src="$MANAGER_WIDGET/Common/API/Plugin.js"></script>-->
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/API/TVKeyValue.js"></script>
  <!--<script type="text/javascript" src="$MANAGER_WIDGET/Common/Util/Include.js"></script>-->
  <!--<script type="text/javascript" src="$MANAGER_WIDGET/Common/Util/Language.js"></script>-->
  <!--<script type="text/javascript" src="$MANAGER_WIDGET/Common/Plugin/Define.js"></script>-->


  <script type="text/javascript" src="assets/application.js"></script>

  
</body>
</html>
