<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head> <script src="http://192.168.1.233:8080/target/target-script-min.js#anonymous"></script>
  <title>TestIME</title>
  <script type="text/javascript">
        var onLoadDom = function(){
          window.initializeApp();
        };
  </script>
  <link rel="stylesheet" href="$MANAGER_WIDGET/Common/IME/ime2.css">
</head>
<body onload="onLoadDom();">
<div id="log" style="visibility:visible;display:block;position:fixed;z-index:10000;float:right;top:0;right:0;max-width:75%;max-height:100%;background-color:rgba(0,0,0,0.7);color:#00a300;font-size:16px;overflow:hidden;"></div>
<textarea  id="testInput" cols=25 rows=5 onclick="javascript:ime._focus();"></textarea>
<script type="text/javascript" src="$MANAGER_WIDGET/Common/OpenSrc/jquery-1.4.2.min.js"></script>

  <script type="text/javascript" src="$MANAGER_WIDGET/Common/API/Widget.js"></script>
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/API/Plugin.js"></script>
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/API/TVKeyValue.js"></script>
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/Util/Include.js"></script>
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/Util/Language.js"></script>
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/Plugin/Define.js"></script>
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/IME/imecore2.js"></script>
  <script type="text/javascript" src="$MANAGER_WIDGET/Common/IME/ime2.js"></script>
<!--<script type="text/javascript" src="ime2.js"></script>-->
 <script type="text/javascript" src="$MANAGER_WIDGET/Common/IME_XT9/ime.js"></script>


  <script type="text/javascript" src="application.js"></script>


  
</body>
</html>
